[submodule "deps/LibRaw-cmake"]
	path = deps/LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "deps/LibRaw"]
	path = deps/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "deps/OpenImageIO"]
	path = deps/OpenImageIO
	url = https://github.com/AcademySoftwareFoundation/OpenImageIO
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
[submodule "deps/Imath"]
	path = deps/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
